body{
    width: 80%;
    text-align: center;
    padding: 0 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#chart{
    height: 75vh;
}

.container {
    text-align: left;
    padding-top: 5%;
  }